@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("Inter.ttf") format("truetype");
    font-weight: 1 999;
    font-style: normal;
    font-stretch: 1% 200%;
    font-display: swap;
  }

  html {
    font-family: "Inter", ui-sans-serif, system-ui;
    font-size: 14px;
  }

  body {
    @apply h-[100dvh];
    @apply w-full sm:max-w-xl;
    @apply mx-auto;

    @apply text-neutral-900;

    @apply flex flex-col;
    @apply px-4;
  }

  button,
  a,
  select,
  input {
    @apply appearance-none;
  }

  select,
  input {
    @apply bg-transparent;
  }

  :focus {
    @apply outline-2 outline-offset-4 outline-neutral-900;
  }

  input[type="submit"] {
    @apply cursor-pointer;
  }

  input[type="file"] {
    @apply cursor-pointer;
    @apply text-neutral-400;
    @apply file:cursor-pointer;
    @apply file:mr-4;
    @apply file:rounded-xl;
    @apply file:h-11 file:px-5;
    @apply file:font-semibold;
    @apply file:border-0;
    @apply file:bg-neutral-100 file:text-neutral-900;
  }

  select[multiple] {
    @apply rounded-xl border;
    @apply h-11 sm:h-auto;
    @apply divide-y;
    @apply px-4;
  }

  select[multiple] option {
    @apply py-2;
  }

  select[multiple] option:checked {
    @apply bg-[url('img/check.svg')];
    @apply bg-[length:16px];
    @apply bg-transparent;
    @apply bg-no-repeat;
    @apply bg-[center_right_16px];
  }

  p {
    word-break: break-word;
  }
}

@layer components {
  .input {
    @apply rounded-xl border;
    @apply h-11 px-4;
  }

  .line-input {
    @apply h-11;
    @apply border-b-2 border-neutral-300 border-dashed;
  }

  .line-input:focus {
    @apply outline-none;
    @apply border-neutral-900;
  }

  .select {
    @apply bg-[url('img/chevron-down.svg')];
    @apply bg-[length:12px];
    @apply bg-no-repeat;
    @apply bg-[center_right_16px];
  }

  .btn {
    @apply rounded-xl;
    @apply h-11 px-5;
    @apply font-semibold;
    @apply transition-shadow hover:shadow-md;
    @apply flex items-center justify-center;

    @apply whitespace-nowrap;
  }

  .icon-btn {
    @apply rounded-full;
    @apply h-11 w-11;
    @apply transition-shadow hover:shadow-md;
    @apply flex items-center justify-center;
  }

  .check-box {
    @apply rounded-xl;
    @apply h-6 w-6;
    @apply flex items-center justify-center;
  }

  .check-box--primary {
    @apply text-white bg-green-500;
    @apply transition-colors;
  }

  .check-box--secondary {
    @apply border-2;
  }

  .btn--primary {
    @apply bg-neutral-900 text-white;
  }

  .btn--secondary {
    @apply bg-neutral-100 text-neutral-900;
    @apply border;
  }

  .btn:disabled {
    @apply bg-neutral-100 text-neutral-300;
    @apply hover:shadow-none;
    @apply cursor-not-allowed;
  }

  .card {
    @apply p-4;
    @apply rounded-xl border;
    @apply transition-shadow hover:shadow-md;
  }

  .flash {
    @apply py-2 px-3;
    @apply font-medium;
    @apply rounded-xl;
    @apply my-2;
  }

  .avatar {
    @apply rounded-full;
    @apply aspect-square;
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .input-container {
    @apply flex flex-col gap-y-1;
  }

  .form-flow {
    @apply flex flex-col gap-y-8;
  }

  .form-inputs-flow {
    @apply flex flex-col gap-y-4;
  }
}
